a {
    text-decoration: none;
    color: inherit;

}
body{
    display: flex;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    flex-direction: column;

}
.header {
    min-height: 60px;
    background-color: #1F2937;
    font-size: 24px;
    color: white;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.left-hugger{
padding-left: 80px;
min-width: fit-content;
font-weight: bolder;}

.right-hugger{
    font-size: 18px;
    color: #e5e7eb;
    margin-left: auto;
    padding-right: 80px;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
}
.hero{
    min-height: 400px;
    background-color: #1F2937;
}


  
